@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-weight: 100;
}

html{
    font-size: 80%;
}

.page1Container{
    justify-content: center;
    text-align: center;
    margin-top: 15rem;
    color:blue;
}

.page1Children{
    margin-top: 3rem;
    color:cadetblue;
    font-size: 24px;
}

.page1Button{
    margin-top: 3rem;
}

 .button_slide {
    color: black;
    border: 2px solid rgb(2, 166, 216);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #70e5f5;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
 }

 .slide_left:hover {
    box-shadow: inset 0 0 0 50px #3abaf5;
 }

 .navbar{
    margin-top: 0 ;
    padding: 0;
    text-align:right;
    
}

.navbar a {
 background-color: red;
 box-shadow: 0 5px 0 darkred;
 color: white;
 padding: .5em .5em;
 position: relative;
 text-decoration: none;
 text-transform: uppercase;
}

a:hover {
 background-color: #ce0606;
 cursor: pointer;
}

a:active {
 box-shadow: none;
 top: 5px;
}

 .main-container {
     width: 100vw;
     min-height: 100vh;
     display: grid;
     place-items: center;
     background-color:rgba(189, 232, 252, 0.993);
 }

 .inner-container{
     width: 50vw;
     background-color: white;
     padding: 3rem 6rem;
     border-radius: 1rem;
     box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
 }

 .inner-container h2{
     font-size: 34px;
     font-weight: normal;
     margin-top: 1rem;
 }

 .inner-container li{
     position: inherit;
     font-size: 1rem;
     margin-top: 1.2rem;
     list-style: none;
 }

 input{
     cursor: pointer;
 }

 #submit, .btn{
     padding: 1rem 1rem;
     outline: none;
     font-size: 1rem;
     display: inline-block;
     margin: 1.5rem 0 0 18rem;
     background-color:#fcd6b6;
     border-radius: 20%;
 }

 #submit:hover{
     background-color:#f7aa86;
     color:aliceblue;
     border-radius: 40%;
     cursor: pointer;
 }

 #previous, .btn{
    padding: 1rem 1rem;
    outline: none;
    font-size: 1rem;
    display:block;
    margin: -47px 0 0 0;
    background-color:white;
    border-radius: 20%;
}

#previous:hover{
    background-color:black;
    color:aliceblue;
    border-radius: 40%;
}

#showResult{
    background-color:rgb(248, 195, 135);
    margin-top: 2rem;
    padding: 2.4rem 2rem;
    box-shadow: 0 1rem 1rem rgb(218, 128, 26);
   
}

 .resultArea{
     display: none;
 }

 .img{
     justify-content: center;
     text-align: center;
     padding: 1rem 1rem;
     margin: 10px 10px;
     max-width: 560px;
     max-height: 480px;
 }

 #showResult h3 {
    font-size: 1.5rem;
    text-align: center;
}

#showResult .btn{
    margin-top: 1px;
    background-color:rgb(9, 153, 4);
    color: white;;
}